<h1 class="text-center">
  Rave URL Maintenance Notification
  <div class="small">24-Feb-2018<div>
</h1>

<h2>Review Messages</h2>
<p class="help-block">Creating Zendesk ticket will notify <b>5 clients</b> and 2 Medidata projet managers.</p>

<div class="card">
  <div class="card-header">
    <div><b>To: </b> client_A@example.com, client_B@example.com</div>
    <div><b>cc: </b> PM_A@example.com</div>
  </div>

  <div class="card-body email-body">
    <%= raw @draft_message_html %>
  </div>
</div>

<div class="my-3 text-center">
  <%= link_to "Save Draft", "#", class: "btn btn-primary-invert mr-2" %>
  <%= link_to "Create Zendesk Ticket", "#", class: "btn btn-primary" %>
</div>
