<h1 class="text-center">
  Rave URL Maintenance Notification
  <div class="small">24-Feb-2018<div>
</h1>

<h2>Review Messages</h2>
<p class="help-block">Will notify <b>5 clients</b>.</p>

<div class="card">
  <div class="card-header">
    <div><b>To: </b> client_A@example.com, client_B@example.com</div>
    <div><b>cc: </b> PM_A@example.com</div>
  </div>

  <div class="card-body email-body">
    <p><strong>Scheduled Maintenance Notification:</strong>
    <strong>Rave URL Maintenance Notification for 10-MAR-2018</strong></p>

    <p><strong>Affected URL(s):</strong>
    <URL NAME HERE></p>

    <p><strong>Maintenance Schedule Time: 12am-4am UTC</strong>
    <strong>During this maintenance, Rave URLs will incur an approximate 20-minute outage as each server will need to be rebooted after the hotfix is installed.</strong>  </p>

    <p><strong>Details:</strong> This is to notify you of the scheduled March 10th Rave URL downtime on the URL(s) listed above.  </p>

    <p>Medidata will be will be deploying an emergency hotfix to all Windows 2008 R2 servers in Houston Data Center (HDC). </p>

    <p>During this maintenance, the affected URLs listed above in the HDC may be inaccessible and receive a maintenance page.  This maintenance is necessary due to a bug found in the Microsoft operating system. More details on the bug and hotfix can be found here: https://support.microsoft.com/en-us/help/2553549/all-the-tcp-ip-ports-that-are-in-a-time-wait-status-are-not-closed-aft </p>

    <p>This is an automated email. Replies to this email are not monitored. If you need any technical assistance please contact the Medidata Helpdesk helpdesk@mdsol.com. For any other questions, please contact your Medidata Project Manager directly.</p>

    <p>Thank you</p>
  </div>
</div>

<div class="my-3 text-center">
  <%= link_to "Save Draft", "#", class: "btn btn-primary-invert mr-2" %>
  <%= link_to "Create Zendesk Tickets", review_maintenance_notification_path(params[:id]), class: "btn btn-primary" %>
</div>
