<h1 class="text-center">
  <%= @response[:product_name]%> Maintenance Notification
  <div class="small"><%= DateTime.parse(@response[:start]).strftime("%d-%b-%Y") %> <div>
</h1>

<div class="card">
  <div class="card-header">Scheduled Maintenance</div>
  <div class="card-body">
    <dl>
      <dt>Overview</dt>
      <dd>This is to notify affected parties of changes to the Medidata FTP services.</dd>

      <dt>Maintenance Description<dt>
      <dd>The minimum encryption standards...</dd>

      <dt>Maintenance Date</dt>
      <dd>September 29, 2018 (Saturday)</dd>

      <dt>Maintenance Window</dt>
      <dd>
        12:00 PM to 4:00 PM US/Central (EU hosting)
        <br>
        6:00 PM to 10:00 PM US/Central (US hosting)
      </dd>

      <dt>Action</dt>
      <dd>Notify Affected Clients of the change.</dd>

      <dt>Technical Questions/Inquiries:</dt>

      <dd>
        Brett Marlowe
        <br>
        Raul Ortega
      </dd>


      <dt>Affected URLs</dt>
      <dd>
        <ul>
          <% if params[:id] == "1" %>
            <li>https://sanofi.mdsol.com</li>
            <li>https://amgen.mdsol.co.jp</li>
            <li>https://amgen.mdsol.co.kr</li>
            <li>https://amgen.mdsol.co.ch</li>
          <% else %>
            <li>https://beigene.mdsol.com</li>
            <li>https://pfizer.mdsol.com</li>
            <li>https://pfizer-new.mdsol.com</li>
            <li>https://roche.mdsol.com</li>
          <% end %>
        </ul>
      </dd>

    </dl>
  </div>
</div>

<h3 class="mt-3">Notify clients</h3>
<%= link_to "Review Messages", review_maintenance_notification_path(params[:id]), class: "btn btn-primary" %>
