<h1 class="text-center">
  Rave URL Maintenance Notification
  <div class="small">24-Feb-2018<div>
</h1>

<div class="card">
  <div class="card-header">Scheduled Maintenance</div>
  <div class="card-body">
    <dl>
      <dt>Overview</dt>
      <dd>This is to notify affected parties of changes to the Medidata FTP services.</dd>

      <dt>Maintenance Description<dt>
      <dd>The minimum encryption standards...</dd>

      <dt>Maintenance Date</dt>
      <dd>September 29, 2018 (Saturday)</dd>

      <dt>Maintenance Window</dt>
      <dd>
        12:00 PM to 4:00 PM US/Central (EU hosting)
        <br>
        6:00 PM to 10:00 PM US/Central (US hosting)
      </dd>

      <dt>Action</dt>
      <dd>Notify Affected Clients of the change.</dd>

      <dt>Technical Questions/Inquiries:</dt>

      <dd>
        Brett Marlowe
        <br>
        Raul Ortega
      </dd>


      <dt>Affected URLs</dt>
      <dd>
        <ul>
          <li>nagoya-camcr.mdsol.com</li>
          <li>nagoya-camcr.mdsol.com</li>
          <li>nagoya-camcr.mdsol.com</li>
        </ul>
      </dd>

    </dl>
  </div>
</div>

<h3 class="mt-5">Notify clients</h3>
<p>Client A, B, and C should be notified.</p>
<%= link_to "Review Messages", review_maintenance_notification_path(params[:id]), class: "btn btn-primary" %>
