<h1>Maintenance Notification System</h1>

Check out these examples:

<div>
  <%= link_to "Rave Coder Maintenance Notification", maintenance_notification_path(1) %>
</div>

<div>
  <%= link_to "TSDV Maintenance Notification", maintenance_notification_path(2) %>
</div>
